* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial, sans-serif";
  font-size: 16px;
  overflow-x: hidden;
  line-height: 1.6;
  background-color: #ffffff;
  width: 100%;
  min-height: 100vh;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  height: 100px;
}

header img {
  width: 100%;
}

.image-container {
  width: 100%;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 520px;
}

.image {
  width: 100%;
  height: 1000px;
  object-fit: cover;
  object-position: center;
}

.image-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(288deg, rgba(0, 89, 68, 0.8) 40%, transparent 40%);
  pointer-events: none;
}

@media (max-width: 768px) {
  .image-container {
    height: 228px;
  }
  .image {
    width: 100%;
    height: 495px;
    object-fit: cover;
    object-position: 30% -40px;
  }
  .image-container::after {
    background: none;
  }
}
h2 {
  letter-spacing: 0px;
  line-height: 31px;
  font-family: "Citi Sans Book";
  font-weight: 100;
  color: #00945f;
  height: auto;
  font-size: 30px;
  text-align: center;
}

hr {
  border: none;
  margin: 10px auto;
  width: 73px;
  height: 2px;
  background-color: #00945f;
  text-align: center;
}

p {
  letter-spacing: 0px;
  line-height: 31px;
  color: #888888;
  font-family: "Citi Sans Book";
  height: auto;
  font-size: 19px;
  text-align: left;
}

.Investment {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 25px;
  margin-top: 25px;
}
.Investment .Btn {
  width: 165px;
  height: 40px;
  margin: 28px auto 3px auto;
  border: none;
  cursor: pointer;
  background-color: #e97300;
  font-size: 24px;
  line-height: 32px;
  color: #ffffff;
  font-family: "Citi Sans Book";
}

.Citizen {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 25px;
}
.Citizen .cards {
  margin-top: 25px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  align-items: center;
}
.Citizen .cards div {
  padding: 10px;
}
.Citizen .cards div:nth-child(1),
.Citizen .cards div:nth-child(3) {
  border-right: 0.4px solid #666666;
}
.Citizen .cards div:nth-child(3),
.Citizen .cards div:nth-child(4) {
  margin-top: 50px;
}
.Citizen .cards div h6 {
  margin: 0;
  font-size: 24px;
  letter-spacing: 0px;
  line-height: 31px;
  font-family: "Citi Sans Book";
  font-weight: 100;
  color: #00945f;
}
.Citizen .cards .topDivs p {
  letter-spacing: 0px;
  line-height: 31px;
  color: #888888;
  font-family: "Citi Sans Book";
  font-size: 18px;
}
.Citizen .cards .topDivs p a {
  color: #759b24 !important;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.3s ease;
}
.Citizen .cards .topDivs p a:hover {
  color: #97B846 !important;
}
.Citizen .cards .bottomDivs p {
  letter-spacing: 0px;
  line-height: 31px;
  color: #888888;
  font-family: "Citi Sans Book";
  font-size: 18px;
}
@media (max-width: 768px) {
  .Citizen .cards {
    grid-template-columns: 1fr; /* small screens */
  }
  .Citizen .cards div:nth-child(1) {
    border-right: none;
    border-bottom: 0.4px solid #666666;
    padding-bottom: 32px;
  }
  .Citizen .cards div:nth-child(3) {
    border-right: none;
    border-top: 0.4px solid #666666;
    padding-top: 32px;
  }
  .Citizen .cards div:nth-child(3),
  .Citizen .cards div:nth-child(4) {
    margin-top: unset;
  }
}

.Bank-card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 25px;
}
.Bank-card .Bank-card-title {
  min-height: 57px;
  height: auto;
  background-color: #00945f;
  padding: 10px;
}
.Bank-card .Bank-card-title p {
  letter-spacing: 0px;
  line-height: 31px;
  color: #888888;
  font-family: "Citi Sans Book";
  color: #ffffff !important;
  text-align: center;
}
.Bank-card .bank-card-body {
  height: auto;
  min-height: 171px;
  background-color: #ebf7f5;
  padding: 25px;
}
.Bank-card .bank-card-body p {
  letter-spacing: 0px;
  line-height: 31px;
  color: #888888;
  font-family: "Citi Sans Book";
  font-size: 18px;
  text-align: center;
}

.OfficerCard {
  display: flex;
  flex-wrap: wrap;
  padding: 25px;
  grid-gap: 20px;
}
.OfficerCard .officer {
  flex: 1 1 calc(33.33% - 20px); /* 3 cards per row */
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding: 10px;
}
.OfficerCard .officer img {
  width: 180px;
  height: 180px;
  object-fit: cover;
}
.OfficerCard .officer .officer-image2 {
  width: 241px !important;
  height: 188px !important;
  object-fit: cover;
}
.OfficerCard .officer-card-body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  position: relative;
  align-items: center;
}
.OfficerCard .officer-card-body p {
  height: auto;
  min-width: 100px;
  width: auto;
  font-size: 18px;
  letter-spacing: 0px;
  line-height: 29px;
  color: #666666;
  font-style: italic;
  font-family: "Citi Sans Book Italic";
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: wrap;
}
.OfficerCard .officer-card-body .watermark {
  position: absolute;
  top: -58px;
  left: -4%;
  pointer-events: none;
  user-select: none;
  white-space: nowrap;
  opacity: 0.11;
  font-size: 186px;
  letter-spacing: -2px;
  color: #666666;
  font-style: italic;
  font-family: "Citi Sans Book Italic";
}
.OfficerCard .officer-card-body .regards {
  opacity: 0.839;
  color: #009e77;
  font-family: "Citi Sans Book" !important;
  text-align: center;
  font-size: 18px;
  letter-spacing: 0px;
  line-height: 29px;
  text-align: center;
  overflow: hidden;
}

@media (max-width: 768px) {
  .OfficerCard {
    flex-direction: column;
  }
}
.footerLine {
  width: 100%;
  height: 1.5px;
  background-color: #00945f;
}

.FooterContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  grid-gap: 20px;
  padding: 25px;
}
.FooterContainer .Footer-paragraph p {
  font-size: 11px;
  color: #666666;
  font-family: "Arial";
  line-height: unset !important;
}
.FooterContainer .Footer-paragraph p a {
  text-underline-offset: 3px;
  cursor: pointer;
  transition: color 0.3s ease;
  color: #666666;
}
.FooterContainer .Footer-text p {
  font-size: 12px;
  line-height: 16px;
  color: #000000;
  font-family: "Citi Sans Book";
}
@media (max-width: 768px) {
  .FooterContainer .SocialMedia img {
    width: 30px;
  }
}

@media (max-width: 768px) {
  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
