* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

body {
  font-family: "Citi Sans Book, sans-serif";
  font-size: 16px;
  overflow-x: hidden;
  line-height: 1.6;
  background-color: #ffffff;
  min-height: 100vh;
}

@media (max-width: 400px) {
  * {
    width: 100%;
  }
}
@font-face {
  font-family: "Citi Sans Book";
  src: url("../assets/texts/Citizen Book.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
:root {
  --paragraph-font: 1.1875rem;
}

@media (max-width: 768px) {
  :root {
    --paragraph-font: 1.125rem;
  }
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  height: 130px;
}
header img {
  width: 100%;
}

@media (max-width: 768px) {
  header {
    height: 75px;
    justify-content: center;
  }
  header div {
    text-align: center;
  }
  header div img {
    width: 70%;
  }
}
.image-container {
  width: 100%;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 550px;
}

.image {
  width: 100%;
  height: 1529px;
  object-fit: cover;
  object-position: -431px -218px;
}

.image-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(288deg, rgba(0, 89, 68, 0.8) 45.8%, transparent 40%);
  pointer-events: none;
}

@media (min-width: 1865px) {
  .image-container {
    height: 570px;
  }
  .image {
    height: 1570px;
  }
}
@media (min-width: 1920px) {
  .image {
    height: 1590px;
  }
}
@media (min-width: 1195px) and (max-width: 1500px) {
  .image-container {
    height: 488px;
  }
  .image {
    height: 1250px;
    object-position: -333px -144px;
  }
  .image-container::after {
    background: linear-gradient(288deg, rgba(0, 89, 68, 0.8) 43.8%, transparent 40%);
  }
}
@media (max-width: 768px) {
  .image-container {
    height: 228px;
  }
  .image {
    width: 100%;
    height: 653px;
    object-fit: cover;
    object-position: 33% -97px;
  }
}
@media (max-width: 1194px) {
  .image-container::after {
    background: none;
  }
}
h2 {
  letter-spacing: 0px;
  line-height: 31px;
  font-family: "Citi Sans Book";
  font-weight: 100;
  color: #00945f;
  height: auto;
  font-size: 1.8rem;
  text-align: center;
}

hr {
  border: none;
  margin: 10px auto;
  width: 73px;
  height: 2px;
  background-color: #00945f;
  text-align: center;
}

p {
  letter-spacing: 0px;
  line-height: 31px;
  color: #888888;
  font-family: "Citi Sans Book";
  height: auto;
  font-size: var(--paragraph-font);
  text-align: left;
}

.Investment {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 25px;
  margin-top: 40px;
}
.Investment .Btn {
  width: 172px;
  margin: 50px auto 3px auto;
  border: none;
  cursor: pointer;
  background-color: #e97300;
  font-size: 1.5rem;
  line-height: 32px;
  color: #ffffff;
  font-family: "Citi Sans Book";
  padding: 9px;
}

.Citizen {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 25px;
}
.Citizen .cards {
  margin-top: 25px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}
.Citizen .cards div {
  padding: 10px;
}
.Citizen .cards div:nth-child(1),
.Citizen .cards div:nth-child(3) {
  border-right: 0.4px solid #666666;
}
.Citizen .cards div:nth-child(3),
.Citizen .cards div:nth-child(4) {
  margin-top: 50px;
}
.Citizen .cards div h6 {
  margin: 0;
  font-size: 1.5rem;
  letter-spacing: 0px;
  line-height: 31px;
  font-family: "Citi Sans Book";
  font-weight: 100;
  color: #00945f;
}
.Citizen .cards .topDivs p {
  letter-spacing: 0px;
  line-height: 31px;
  color: #888888;
  font-family: "Citi Sans Book";
  font-size: var(--paragraph-font);
}
.Citizen .cards .topDivs p a {
  color: #759b24 !important;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.3s ease;
  font-size: var(--paragraph-font);
}
.Citizen .cards .topDivs p a:hover {
  color: #97b846 !important;
}
.Citizen .cards .bottomDivs p {
  letter-spacing: 0px;
  line-height: 31px;
  color: #888888;
  font-family: "Citi Sans Book";
  font-size: var(--paragraph-font);
}
@media (max-width: 768px) {
  .Citizen .cards {
    grid-template-columns: 1fr; /* small screens */
  }
  .Citizen .cards div {
    padding: 3px;
  }
  .Citizen .cards div:nth-child(1) {
    border-right: none;
    border-bottom: 0.4px solid #666666;
    padding-bottom: 23px;
  }
  .Citizen .cards div:nth-child(3),
  .Citizen .cards div:nth-child(4) {
    border-right: none;
    border-top: 0.4px solid #666666;
    padding-top: 23px;
  }
  .Citizen .cards div:nth-child(3),
  .Citizen .cards div:nth-child(4) {
    margin-top: unset;
  }
}

.Bank-card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 25px;
}
.Bank-card .Bank-card-title {
  min-height: 57px;
  height: auto;
  background-color: #00945f;
  padding: 12px 11px;
}
.Bank-card .Bank-card-title p {
  letter-spacing: 0px;
  line-height: 31px;
  color: #888888;
  font-family: "Citi Sans Book";
  color: #ffffff !important;
  text-align: center;
  font-size: 1.5rem !important;
  line-height: 31px !important;
}
.Bank-card .bank-card-body {
  height: auto;
  min-height: 171px;
  background-color: #ebf7f5;
  padding: 35px 70px;
}
.Bank-card .bank-card-body p {
  letter-spacing: 0px;
  line-height: 31px;
  color: #888888;
  font-family: "Citi Sans Book";
  font-size: var(--paragraph-font);
  text-align: left;
}
@media (max-width: 768px) {
  .Bank-card .bank-card-body {
    padding: 10px;
  }
}

.OfficerCard {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  padding: 20px 67px;
}
.OfficerCard .Officer {
  padding: 20px;
  text-align: center;
}
.OfficerCard .Officer img {
  object-fit: cover;
}
.OfficerCard .Officer .officer-card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.OfficerCard .Officer .officer-card-body .paragraph1 {
  max-width: 195px;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.OfficerCard .Officer .officer-card-body .paragraph2 {
  max-width: 401px;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.OfficerCard .Officer .officer-card-body p {
  width: auto;
  font-size: var(--paragraph-font);
  letter-spacing: 0px;
  line-height: 30px;
  color: #666666;
  font-style: italic;
  font-family: "Citi Sans Book";
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: wrap;
}
.OfficerCard .Officer .officer-card-body .watermark {
  position: absolute;
  top: -63px;
  left: -43px;
  pointer-events: none;
  user-select: none;
  white-space: nowrap;
  opacity: 0.16;
  font-size: 11.625rem;
  letter-spacing: -2px;
  color: #666666;
  font-style: italic;
  font-family: "Citi Sans Book";
}
@media (max-width: 400px) {
  .OfficerCard .Officer .officer-card-body .watermark {
    left: -93px;
  }
}
.OfficerCard .Officer .officer-card-body .regards {
  opacity: 0.839;
  color: #009e77;
  font-family: "Citi Sans Book" !important;
  text-align: center;
  font-size: var(--paragraph-font);
  letter-spacing: 0px;
  line-height: 29px;
  text-align: center;
  overflow: hidden;
  margin-top: 1rem;
  max-width: 190px;
}
@media (max-width: 768px) {
  .OfficerCard .Officer {
    padding: 0 20px 20px 20px;
  }
}

@media (max-width: 768px) {
  .OfficerCard {
    flex-direction: column;
    gap: 0rem;
  }
  .OfficerCard .officer-card-body .paragraph2 {
    max-width: 228px;
    position: relative;
  }
}
.Officer img {
  border-radius: 50%; /* Makes the image circular */
}

.footerLine {
  width: 100%;
  height: 1.5px;
  background-color: #00945f;
}

.FooterContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  grid-gap: 20px;
  padding: 25px;
}
.FooterContainer .SocialMedia {
  line-height: 10px;
}
.FooterContainer .SocialMedia img {
  width: 36px;
}
.FooterContainer .Footer-paragraph p {
  font-size: 0.6875rem;
  color: #666666;
  font-family: "Arial";
  line-height: unset !important;
}
.FooterContainer .Footer-paragraph p a {
  text-underline-offset: 3px;
  font-size: 0.6875rem;
  cursor: pointer;
  transition: color 0.3s ease;
  color: #666666;
}
.FooterContainer .Footer-text p {
  font-size: 0.75rem;
  line-height: 16px;
  color: #000000;
  font-family: "Citi Sans Book";
}

@media (max-width: 768px) {
  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
